:root {
    --grey: oklch(80%, 2%, 200);
    --white: #fff;
    --color-accent: #000;
    --color-accent-bg: #444;
}

body {
    margin: 20px;
    background-color:antiquewhite;
    font-size: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1cm;
}

nav {
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav .current{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

nav a:hover {
    background-color: var(--color-accent-bg);
    border-bottom-color: var(--color-accent);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-weight: bold;
    color: white;
}

#coal_mine { 
    border-radius: 100%;
}

/* input, textarea, button {
    font: inherit;
    width: 100%;
    box-sizing: border-box;
}

label, input, textarea, button {
    width: 100%;
    display: block;
    resize: none;
}

textarea {
    height: auto;
}

label {
    margin-block: 1rem;
} */

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}
form label {
    display: grid;
    grid-template-columns: subgrid;
}

button, label{
    grid-column: 1 / -1;
}



img{
	max-width: 100%; /*step 4.2*/
}

.projects {
	display:grid; /*step 4.3*/
	grid-template-columns : repeat(auto-fill, minmax(15em, 1fr));/*step 4.3*/
	min-width: 15em; /*step 4.3*/
	max-width: 1fr; /*step 4.3*/
}

article{
	margin: 10px; /*step 4.3*/
	display: grid; /*step 4.4*/
	grid-template-rows: subgrid; /*step 4.4*/
	grid-row: span 3; /*step 4.4*/
}

article h2{
	margin: 0; /*step 4.4*/
}

.resume{
	display: grid; /*step 5 free*/
	grid-template-columns: repeat(2, 1fr); /*step 5 free*/
	min-width: 25em; /*step 5 free*/
}