:root {
    --font-family: 'Verdana', sans-serif;
    --heading-font-family: 'Switzer', sans-serif;
}

body {  
    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

[color-scheme="light"] {
    --background-color: #faead7;
    --text-color: #000000;
    --navbar-background: #f8f8f8;
    --nav-hover-color: #333;
    --border-color: #1f1f1f;
    --link-highlight: #3f6a54;
}

[color-scheme="dark"] {
    --background-color: #1f1f1f;
    --text-color: #ffffff;
    --navbar-background: #222;
    --nav-hover-color: #bbb;
    --border-color: #f8f8f8;
    --link-highlight: #a4dacc;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    /* transition: background-color 0.5s, color 0.5s; */
    margin: auto;
    margin-inline: auto;
    font-size: 100%/1.5 system-ui;
    line-height: 2.5ch;
    max-width: 90ch;
    padding: 1.5cm;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}
form label {
    display: grid;
    grid-template-columns: subgrid;
}

button, label{
    grid-column: 1 / -1;
}